
<div *ngIf="DetailsPage === 0" class="weather-container">
    <h3><a routerLink="weather/{{data.woeid}}">{{data.title}}</a></h3>
    <p><b>Current Temp</b>:{{data.consolidated_weather[0].the_temp}} 
        <app-icon *ngIf='data.consolidated_weather[0].weather_state_name' [weatherIcon]=data.consolidated_weather[0].weather_state_name ></app-icon>

    
    </p>
    <p><b>Max Temp</b>:{{data.consolidated_weather[0].max_temp}}</p>
    <p><b>Min Temp</b>:{{data.consolidated_weather[0].min_temp}}</p>
    <a routerLink="weather/{{data.woeid}}">Details</a>
</div>


<div *ngIf="DetailsPage === 1" >
        <div *ngIf="woeid == data.woeid" class="weather-container">
            <h3><a href="">{{data.title}}</a></h3>
        
            <div *ngFor="let day of data.consolidated_weather" style="border: 1px solid #eaeaea;width:96%">
                    <p><b>Date</b>:{{day.applicable_date}}</p>
                    <p><b>Current Temp</b>:{{day.the_temp}}
                        <app-icon *ngIf='day.weather_state_name' [weatherIcon]=day.weather_state_name ></app-icon>
                    </p>
                    <p><b>Max Temp</b>:{{day.max_temp}}</p>
                    <p><b>Min Temp</b>:{{day.min_temp}}</p>
            </div>
        </div>
       
        <div *ngIf="SearchResult==1" class="weather-container">
            <h3><a href="">{{data.title}}</a></h3>
        
            <div *ngFor="let day of data.consolidated_weather" style="border: 1px solid #eaeaea;width:96%">
                    <p><b>Date</b>:{{day.applicable_date}}</p>
                    <p><b>Current Temp</b>:{{day.the_temp}}
                        <app-icon *ngIf='day.weather_state_name' [weatherIcon]=day.weather_state_name ></app-icon>
                    </p>
                    <p><b>Max Temp</b>:{{day.max_temp}}</p>
                    <p><b>Min Temp</b>:{{day.min_temp}}</p>
            </div>
        </div>
</div>
    