<body>
  <div class="container">
      <ul>
        <li><a routerLink="">Home</a></li>
        
      </ul>  

      <h1>Weather Information for Today</h1>
      <router-outlet></router-outlet>
  </div>  
</body>